@import '../../theme/theme.scss';

.c-header {
  display: flex;
  align-items: center;
  background-color: theme-color(primary);
  padding: 0.5rem;
}

.c-header__img {
  height: 50px;
}

.c-header__title {
  margin-left: 1rem;
  color: theme-color(secondary);
}
